/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */
.markdown-preview.markdown-preview {
  color: #cdd6f4;
  font-family: "Jost", sans-serif;
  font-stretch: extra-expanded;
  font-size: 18px;

  a {
    color: #74c7ec;
  }

  code,
  pre {
    border-radius: 8px;
    background-color: #29263e;
    color: #cba6f7;
    font-family: "Fira Code", monospace;
  }

  blockquote {
    border-left: 4px solid #9ccfd8;
    padding-left: 10px;
    color: #9ccfd8;
  }
}
