/* Center all images in reading/live preview and export */
.image-embed img,
.markdown-preview-view img,
.markdown-source-view img,
img {
  display: block !important;
  margin: 2rem auto !important;
}

/* Tables */
.markdown-preview-view table,
.markdown-source-view.mod-cm6 .cm-table-widget table {
  width: 100%;
  margin: 0 auto;
}

.markdown-preview-view div.table-wrapper,
.markdown-source-view.mod-cm6 .cm-table-widget div.table-wrapper {
  width: 100% !important;
  margin: 0 auto;
}

.markdown-preview-view table td:empty,
.markdown-preview-view table th:empty,
.markdown-source-view.mod-cm6 .cm-table-widget table td:empty,
.markdown-source-view.mod-cm6 .cm-table-widget table th:empty {
  padding: 4px;
  min-height: 1em;
}

.markdown-preview-view table td:empty::before,
.markdown-preview-view table th:empty::before {
  content: "\200B"; /* Zero-width space to force rendering */
  display: inline-block;
}
